.search-result-title {
  color: grey;
  margin: 24px 0px 6px 6px;
  text-align: left;
  font-size: 14px;
}

.tableContainer {
  padding: 0 30px;
  margin: 30px auto;
}

.avatarLogo {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.sortIconButton {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.sortIcon {
  width: 12px;
  color: #2574fb;
  vertical-align: text-top;
}

/* responsive table */

.responsiveTbl {
  margin-top: 16px;
}

.table {
  text-align: center;
  margin: 30px auto;
  border-collapse: collapse !important;
}

tr {
  color: #1f242d;
  background: #fff;
  &:nth-child(2n) {
    background: darken(#fff, 3%);
  }
}

th,
td {
  padding: 6px 24px;
  font-size: 14px;
  vertical-align: middle;
  &:nth-child(2) {
    text-align: left;
  }
}

th {
  background: #eaf5ff;
  color: #555555;
  font-size: 16px;
  font-weight: 400;
  padding: 12px 24px;
}

@media only screen and (max-width: 756px) {
  .container {
    padding: 0 6px;
    margin: 12px auto;
  }
  .table {
    margin: 0;
  }
  thead {
    display: none;
  }

  tr {
    margin: 0 0 15px;
    display: block;
  }

  td {
    display: block;
    text-align: left;
    padding: 10px 20px 10px 100px;
    position: relative;

    &:before {
      content: "Avatar";
      font-weight: 500;
      position: absolute;
      top: 50%;
      left: 20px;
      transform: translateY(-50%);
    }

    &:nth-of-type(2) {
      &:before {
        content: "Login";
      }
    }

    &:nth-of-type(3) {
      &:before {
        content: "Type";
      }
    }
  }
}
